$color-primary: #007DA6;
$color-blue: #1571F2;
$color-blue-secondary: #1E5EEB;
$color-light-blue: #F3FBFF;
$color-light-blue-secondary: #DEEBFF;
$color-light-blue-tertiary: #F0FAFF;

$color-white: #fff;
$color-white-primary: #EDEEF1;
$color-white-secondary: #C4C8D2;
$color-white-tertiary: #FAFBFB;
$color-white-quaternary: #EEF2F7;

$color-grey: #6B758C;
$color-grey-secondary: #636C76;
$color-grey-tertiary: #7E8AA6;

$color-black-primary: #181818;

$color-green: #36B37E;
$color-green-secondary: #008055;
$color-green-tertiary: #0F9588;
$color-light-green: #C8F1DF;
$color-red: #FF5630;

$color-orange: #FFAB00;
$color-orange-primary: #F2A300;

$navbar-height: 64px;
$sidebar-width: fit-content;

$color-brown: #B8898A;
$color-purple: #9747FF;
$color-purple-secondary: #8925E3;
$color-border-tertiary: #EEF1F6;
$color-border-quaternary: #C4CCDA;

$overlay-dark-light: rgba(0, 0, 0, 0.2);
$shadow-notification-panel: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
$shadow-notification-card: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
$shadow-notification-card-hover: 0px 4px 14px rgba(9, 30, 66, 0.18), 0px 0px 1px rgba(9, 30, 66, 0.31);
